/* Estilo da tabela de planos */
.table {
    padding: 50px;
}

.table table {
    border-collapse: collapse;
    margin: auto;
}

.table th,
td {
    border: 1px solid #fff;
    padding: 10px;
    text-align: right;
}

.table th {
    background-color: #E6D165;
}

.table tr {
    background-color: #f9f9f9;
}

.table tr {
    background-color: #fff;
}

.table a {
    text-decoration: none;
    color: #007BFF;
    font-weight: bold;
    background-color: rgba(0, 0, 0, 0.068);
    padding: 10px;
}

.ok,.not {
    color: green;
    font-size: xx-large;
    text-align: center;
}

.not {
    color: red;
}